@media all and (max-width: 320px) {
  .content {
    width: 100%;
  }

  .header {
    margin-top: 28px;
  }

  .header__image {
    max-width: 126px;
  }

  .profile__description {
    font-weight: 400;
    line-height: 16px;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 282px;
  }

  .footer {
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    margin: 0;
  }
}
