.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 0 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease;
}

.modal__container {
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 6px);
  left: calc(100% + 6px);
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding-top: 34px;
  padding-left: 36px;
  padding-bottom: 54px;
  padding-right: 64px;
}

.modal__form {
  width: 358px;
  margin: auto;
}

.modal__title {
  border-bottom: 1px solid rgb(84 84 84 / 0.2);
  margin-bottom: 5px;
}

.modal__input {
  border: none;
  height: 14px;
  width: 100%;
  padding: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 13px;
  margin-top: 13px;
}

.modal__description {
  border-bottom: 1px solid rgb(84 84 84 / 0.2);
  margin-bottom: 5px;
}

::placeholder {
  color: #000;
}

.modal__button {
  width: 358px;
  height: 50px;
  margin-bottom: 36px;
  color: #fff;
  background-color: #000;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
}

.modal__content_type_image {
  max-width: 75vw;
  max-height: 75vh;
  position: relative;
}

.modal__image {
  width: 100%;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.modal__caption {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  font-family: "Inter";
}

.modal__error_visible {
  color: red;
  position: absolute;
}

.modal__button_disabled {
  background-color: white;
  color: black;
  opacity: 20%;
  margin-top: 15px;
}

@media all and (max-width: 580px) {
  .modal {
    width: 282px;
    margin: auto;
  }

  .modal__container {
    height: 322px;
    top: -123px;
    max-width: 282px;
  }

  .modal__close {
    right: 4px;
    height: 26px;
    width: 26px;
    left: 243px;
    margin-bottom: 14px;
  }

  .modal__heading {
    width: 238px;
    height: 22px;
    font-weight: 900;
    font-size: 18px;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 75px;
  }

  .modal__form {
    max-width: 238px;
    margin: 0;
  }

  .modal__title {
    margin-left: 22px;
  }

  .modal__description {
    margin-left: 22px;
  }

  .modal__button {
    margin-left: 22px;
    margin-right: 22px;
    max-width: 238px;
    font-size: 14px;
  }
}

@media all and (max-width: 320px) {
  .modal {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
