.header {
  margin-top: 45px;
  padding-bottom: 41px;
  border-bottom-style: solid;
  border-color: rgb(84 84 84 / 0.7);
}

@media all and (max-width: 320px) {
  .header {
    margin-top: 28px;
    padding-bottom: 32px;
  }

  .header__image {
    max-width: 126px;
    margin-left: 27px;
    margin-right: 28px;
  }
}
